<div class="flex gap-10">
    <div class="w-4/12">
        <a routerLink="/orders">
            <mat-card appearance="outlined" class="flex justify-center items-center py-8" mat-ripple>
                <span class="text-blue-800 text-2xl">Orders</span>
                <h6 class="text-red-800">{{totalOrders}}</h6>
            </mat-card>
        </a>
    </div>
    <div class="w-4/12">
        <a routerLink="/products">
            <mat-card appearance="outlined" class="flex justify-center items-center py-8" mat-ripple>
                <span class="text-blue-800 text-2xl">Products</span>
                <h6 class="text-red-800">{{totalProducts}}</h6>
            </mat-card>
        </a>
    </div>
    <div class="w-4/12">
        <a routerLink="/brands">
            <mat-card appearance="outlined" class="flex justify-center items-center py-8" mat-ripple>
                <span class="text-blue-800 text-2xl">Brands</span>
                <h6 class="text-red-800">{{totalBrands}}</h6>
            </mat-card>
        </a>
    </div>

</div>